/*******************************************************************************
CUSTOM STYLES

Add your custom CSS styles here to override or extend the default styles.
*******************************************************************************/
html {
  font-family: "Noto Serif CJK SC", serif;
}

body {
  max-width: 90%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 50px;
}


a:link {
  color: blue;
}

a:visited {
  color: rgb(99, 122, 160);
}

a:hover {
  text-decoration: none;
  font-weight: bold;
}
