/*******************************************************************************
CUSTOM STYLES

Add your custom CSS styles here to override or extend the default styles.
*******************************************************************************/
html {
  font-family: "Noto Serif CJK SC", serif;
}

body {
  max-width: 90%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 50px;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
}
